body, ol, li, a {
    margin: 0px;
    padding: 0;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: lower-latin;
    background-color: aqua;


}
#navbar .container{
    background: color white;
    flex: content;
    border-: solid;
}
#nabar ul li{
    display: inline;
    margin-right: 30px;

}
p {
    padding: 60px;
    margin-bottom: 20px;
    border: 0cap;
    
}